service firebase.storage {
  match /b/group-chat-a45a5.appspot.com/o {
    match /{userId}/{timeStamp}/{fileName} {
      allow write: if request.auth.uid == userId;
      allow read;
    }
  }
}